<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Fotocadeau Embeddings Search</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta name="description" content="Fotocadeau Embeddings Search">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}">
</head>

<body class="font-monospace">
    <div class="container-fluid py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Embedding Search</h2>
                <p class="w-lg-50">This website searches through our Vector database by similarity and displays the top results.</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col-md-12 col-xl-12">
              <div><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{{ url_for('static', filename='images/ai.jpg') }}">
                    <center>
                      <div class="py-4">
                          <h4>Search input</h4>
                          <form method=post enctype=multipart/form-data>
                            <input type=text name=query>
                            <input type=submit value=Search>
                          </form>
                      </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
